
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>EcoApp</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="../css/devices.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="text-center">
<button id="fixedbutton" class="btn btn-success" onclick="deviceView()"><i class="glyphicon glyphicon-phone"> </i>Device View</button>
<div id="device-container">
    <div id="device-screen" class="white-background container-fluid">
        <!-- header -->
        <div class="row android-header">
            <div class="col-sm-10">
                <!-- /#page-content-wrapper -->
                <h1 class="text-center fredoka-font">RECICLAPP</h1>
            </div>
        </div>
        <!-- Content -->
        <br>
        <div class="text-center row">
            <div class="col-sm-6">
                <a href="map.html">
                <img  class="img-responsive" src="http://placekitten.com/200/200">
                </a>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive" src="http://placekitten.com/200/200">
            </div>
        </div>
        <br>
        <div class="text-center row">
            <div class="col-sm-6">
                <img  class="img-responsive" src="http://placekitten.com/200/200">
            </div>
            <div class="col-sm-6">
                <img class="img-responsive" src="http://placekitten.com/200/200">
            </div>
        </div>

        <br>
        <div class="text-center row">
            <div class="col-sm-12">
                <img  class="img-responsive" src="http://placekitten.com/300/100">
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="../logic/index.js"></script>
<script src="../logic/test.js"></script>


</body>
</html>

