<div id='calc-tab'>
    <div class='text-center row'>
        <div class='col-sm-4'>
            <h4>Total</h4>
            <img src='../img/cup.svg'>
            <p>1000 unidades</p>
        </div>
        <div class='col-sm-8'>
            <ul class='list-group'>
                <li class='list-group-item list-group-item-info' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-file'></i> Papel = 15<span id='paper-amount'></span></p>
                </li>
                <li class='list-group-item list-group-item-danger' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-baby-formula'></i> Plastico = 10<span id='plastic-amount'></span></p>
                </li>
                <li class='list-group-item list-group-item-warning' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-paperclip'></i> Metal = 17<span id='metal-amount'></span></p>
                </li>
                <li class='list-group-item list-group-item-success' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-leaf'></i> Organico = 5<span id='organic-amount'></span></p>
                </li>
                <li class='list-group-item' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-asterisk'></i> Otro = 12<span id='other-amount'></span></p>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class='col-sm-4'>
            <input id="name-rec" class='form-control' type='text'>
        </div>
        <div class='col-sm-4'>
            <input list='browsers' id="typeRec" class='form-control' name='browser' placeholder='papel'>
            <datalist id='browsers'>
                <option value='Papel'>
                <option value='Plastico'>
                <option value='Metalico'>
                <option value='Organico'>
                <option value='Otro'>
            </datalist>
        </div>
        <div class='col-sm-2' style='padding: 0%'>
            <input id="number-cos"class='form-control' type='number'>
        </div>
        <div class='col-sm-2'>
            <p></p>
            <button onclick="appendElementList()"><i class='glyphicon glyphicon-plus-sign'></i></button>
        </div>
    </div>
    <hr>
    <div id='recycle-list'>
    </div>
    <hr>
    <div class='row'>
        <div class='col-sm-12'>
            <button class='btn btn-default'>Calcular</button>
        </div>
    </div>
</div>