<div id="prints-tab">
    <div class="row">
        <div class="col-sm-4">
            <svg id="fillgauge" width="100%" height="100px"></svg>
        </div>
        <div class="col-sm-8">
            <h6>Al reciclar estos materiales ahorraste este porcentaje de agua</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <svg id="footprint" width="100%" height="100px"></svg>
        </div>
        <div class="col-sm-8">
            <h6>Al reciclar estos materiales ahorraste este porcentaje de combistible en su produccion</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12"><h4>Huella de carbono</h4></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
                <table class="gentable">
                    <tbody><tr>

                        <td class="gencell">
                            <table class="layouttable">
                                <tbody><tr>
                                    <td>
                                        <input  placeholder="Electricidad" name="ctl05$chsHouse$txtElecUsage" type="text" maxlength="8" id="ctl05_chsHouse_txtElecUsage" class="numberbox">
                                    </td>
                                    <td>
                                        <select name="ctl05$chsHouse$ddlElecUsageUnit" id="ctl05_chsHouse_ddlElecUsageUnit" class="mediumbox">
                                            <option selected="selected" value="0.3200">kWh</option>

                                        </select>
                                    </td>
                                    <td>
                                        <span id="ctl05_chsHouse_rgvElecUsage" style="color:Red;visibility:hidden;">*</span>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    <tr>
                        <td class="gencell">
                            <table class="layouttable">
                                <tbody><tr>
                                    <td>
                                        <input placeholder="Gas natural" name="ctl05$chsHouse$txtGasUsage" type="text" maxlength="8" id="ctl05_chsHouse_txtGasUsage" class="numberbox">
                                    </td>
                                    <td>
                                        <select name="ctl05$chsHouse$ddlGasUsageUnit" id="ctl05_chsHouse_ddlGasUsageUnit" class="mediumbox">
                                            <option selected="selected" value="0.183997">kWh</option>
                                            <option value="5.392415">termias</option>

                                        </select>
                                    </td>
                                    <td>
                                        <span id="ctl05_chsHouse_rgvGasUsage" style="color:Red;visibility:hidden;">*</span>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    <tr>
                        <td class="gencell">
                            <table class="layouttable">
                                <tbody><tr>
                                    <td>
                                        <input placeholder="Madera" name="ctl05$chsHouse$txtWoodUsage" type="text" maxlength="8" id="ctl05_chsHouse_txtWoodUsage" class="numberbox">
                                    </td>
                                    <td>
                                        <select name="ctl05$chsHouse$ddlWoodUsageUnit" id="ctl05_chsHouse_ddlWoodUsageUnit" class="mediumbox">
                                            <option selected="selected" value="53.35377">toneladas</option>

                                        </select>
                                    </td>
                                    <td>
                                        <span id="ctl05_chsHouse_rgvWoodUsage" style="color:Red;visibility:hidden;">*</span>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    <tr>
                        <td class="gencell"></td>
                        <td class="gencell">
                            <table class="layouttable">
                                <tbody><tr>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5>Total a compensar = 0.00 toneladas de CO2</h5>
        </div>
    </div>
</div>