<div id="prints-tab">
    <div class="row">
        <div class="col-sm-4">
            <svg id="fillgauge" width="100%" height="100px"></svg>
        </div>
        <div class="col-sm-8">
            <h6>Al reciclar estos materiales ahorraste este porcentaje de agua</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <svg id="footprint" width="100%" height="100px"></svg>
        </div>
        <div class="col-sm-8">
            <h6>Al reciclar estos materiales ahorraste este porcentaje de combistible en su produccion</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">Huella de carbono</div>
        <div class="col-sm-8"> bla bla bla</div>
    </div>
</div>