<div id="week-tab">
    <div class="text-center row">
        <div id="myPieChart"></div>
        <div  id="linechart_material" style="width: 100%; height: 250px"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class='list-group'>
                <li class='list-group-item list-group-item-info' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-file'></i> Papel = 15<span id='paper-amount'></span></p>
                </li>
                <li class='list-group-item list-group-item-danger' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-baby-formula'></i> Plastico = 10<span id='plastic-amount'></span></p>
                </li>
                <li class='list-group-item list-group-item-warning' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-paperclip'></i> Metal = 17<span id='metal-amount'></span></p>
                </li>
                <li class='list-group-item list-group-item-success' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-leaf'></i> Organico = 38<span id='organic-amount'></span></p>
                </li>
                <li class='list-group-item' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-asterisk'></i> Otro = 12<span id='other-amount'></span></p>
                </li>
            </ul>
        </div>
    </div>
</div>