<div id="month-tab">
    <div class="text-center row">
        <div id="myPieChart" style="width:100%;height: 280px;"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class='list-group'>
                <li class='list-group-item list-group-item-info' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-file'></i> Papel = 54%<span id='paper-amount'></span></p>
                </li>
                <li class='list-group-item list-group-item-danger' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-baby-formula'></i> Plastico = 11%<span id='plastic-amount'></span></p>
                </li>
                <li class='list-group-item list-group-item-warning' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-paperclip'></i> Metal = 11%<span id='metal-amount'></span></p>
                </li>
                <li class='list-group-item list-group-item-success' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-leaf'></i> Organico = 10%<span id='organic-amount'></span></p>
                </li>
                <li class='list-group-item' style='padding: 0%'>
                    <p><i class='glyphicon glyphicon-asterisk'></i> Otro = 15%<span id='other-amount'></span></p>
                </li>
            </ul>
        </div>
    </div>
</div>